body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #6b4f97;
    color: white;
    padding: 20px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

section {
    padding: 50px;
    margin: 0 10%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

h2 {
    color: #6b4f97;
}

ul {
    list-style: none;
}

ul li {
    margin: 10px 0;
}

#recipe ol {
    margin-left: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label, form input, form textarea, form button {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
}

form button {
    background-color: #6b4f97;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    background-color: #6b4f97;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
